html
    head
        title | Kamera
        script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.js" integrity="sha384-54hC88ASWStHTWO6cD/wH7PQ5LjJnpvMWdMogl6uNZ4B2WMuaLagQXDQavbIKbf9" crossorigin="anonymous")
        script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js" integrity="sha384-pSNzwDMV6yHjiUBAqlbhEe7ZgtdlEk269JyrNJ6KopPB7QrkqHrYikaRu7YhH8oJ" crossorigin="anonymous")
        script(type='text/javascript', src='/javascripts/sketch.js')

    body
        #sketch-holder2