include includes/modals/confirm_modal
include includes/modals/info_modal
include includes/modals/error_modal
include includes/modals/camera_modal
include includes/left/layers
include includes/left/properties
include includes/right/feed
extends layout
block content
    #map
    .row.main-row
        .col-sm-4.col-md-3.sidebar.sidebar-left.pull-left
            #accordion-left.panel-group.sidebar-body
                .panel.panel-default
                    block layers
                        +layers
                .panel.panel-default
                    block properties
                        +properties
        .col-sm-4.col-md-6.mid
        .col-sm-4.col-md-3.sidebar.sidebar-right.pull-right
             #accordion-right.panel-group.sidebar-body
                .panel.panel-default
                    block feed
                         +feed
    .mini-submenu.mini-submenu-left.pull-left
        i(class='fa fa-stack-exchange')
    .mini-submenu.mini-submenu-right.pull-right
        i(class='fa fa-rss')
    #popup-submit.ol-popup
        a(href='#', id='popup-closer-submit', class='ol-popup-closer')
        form(method='POST', action='/report', onsubmit='return validateForm()', name='myForm')
            //- Ej synliga för användaren
            .form-group.hidden-to-db
                .form-group.coords-to-db
                    label| X
                    input(id='popup-submit-position-x', class='form-control', name='x_coordinates')
                    label| Y
                    input(id='popup-submit-position-y', class='form-control', name='y_coordinates')
                .form-group.date-to-db
                    label| Datum
                    input(id='popup-submit-date', class='form-control', name='date')
                .form-group.time-to-db
                    label| Tid
                    input(id='popup-submit-time', class='form-control', name='time')
                .form-group.accuracy-to-db
                    label| Min accuracy
                    input(id='popup-submit-my-position-accuracy', class='form-control', name='my_accuracy')
                .form-group.img-to-db
                    label| images as base64
                    input(id='popup-submit-img-base64', class='form-control', name='img_baseg64')
                .form-group.status-to-db
                    input(id="hidden_output_to_db", class='form-control', name="status", value="")
                //- Synliga för användaren
            .form-group
                p Finns vägbommen i verkligheten?
                label.radio-inline
                    input(type="radio", name="Finns_i_falt", value="Ja")
                    label Ja
                label.radio-inline
                    input(type="radio", name="Finns_i_falt", value="Nej")
                    label Nej
                p Finns vägbommen i kartan?
                label.radio-inline
                    input(type="radio", name="Finns_i_karta", value="Ja")
                    label Ja
                label.radio-inline
                    input(type="radio", name="Finns_i_karta", value="Nej")
                    label Nej
                //- label(for='status_select')
                //- select(id='status_select', class='', name='status')
                    optgroup(label='')
                        option(value="") Ange vägbommens tillstånd
                    optgroup(label='Din rapport bekräftar att vägbommen både finns i kartan och i verkligheten.')
                        option(value='Bekräftad', name='status') Bekräfta
                    optgroup(label='Din rapport anger att vägbommen saknas i kartan fast den finns i verkligheten.')
                        option(value='Finns', name='status') Lägg till
                    optgroup(label='Din rapport anger att vägbommen finns i kartan men den finns inte längre i verkligheten.')
                        option(value='Saknas', name='status') Ta bort
            .form-group
                input(type='submit', id='popup-submit-submit',class='form-control btn btn-success', value='Rapportera')
                //- TODO:: Rest all input values
                br
                button(type='button',id='popup-submit-cancel' ,class='form-control btn btn-warning', value='')| Avbryt
            .form-group
                button(type='button', data-toggle='modal', data-target='#camera_modal', id='popup-submit-camera', class='form-control btn btn-info')| Lägg till Foto (frivilligt)

    #popup-select.ol-popup
        a(href='#', id='popup-closer-select', class='ol-popup-closer')
        #popup-content-select
            .media
                .media-left
                    img(src='/images/roadblocks/standard.png', style="width: 128px; height: 128px; margin-top: 30px;", id="popup-content-select-img")
                .media-right(style="width: 300px; padding: 0px;")
                    h4.media-heading Information
                    table.table(style="width: 150px; margin-bottom: 0px;")
                      tr
                        th Datum
                        td#popup-content-select-date
                      tr
                        th Tid
                        td#popup-content-select-tid
                      tr
                        th Status
                        td#popup-content-select-status
                      tr
                        th Verklig
                        td#popup-content-finns_i_verkligheten
                      tr
                        th Karta
                        td#popup-content-finns_i_karta
    +em
    +camera('camera_modal', 'Kamera')
    +info_modal('status_modal', 'Rapport kan inte skickas', 'Applikationen kan endast skicka en rapport om båda frågorna är besvarade och om båda svaren inte är nej.')
    +confirm_modal('bekräfta_modal', 'Intyg', 'Stämmer det att vägbommen finns i verkligheten och i kartan?')
    +confirm_modal('läggtill_modal', 'Intyg', 'Stämmer det att vägbommen finns i verkligheten och att vägbommen inte finns kartan?')
    +confirm_modal('tabort_modal', 'Intyg', 'Stämmer det att vägbommen saknas i verkligheten och att vägbommen finns i kartan?')
    .modal.fade(role='dialog', id='geolocation_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', id='geolocation_modal_close') &times;
                    h4.modal-title
                        | Min Position
                .modal-body
                    p Är du säker på att du vill aktivera 'Min Position'?
                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='geolocation_modal_accept')| Ja
                    button.btn.btn-danger(type='button',data-dismiss='modal', id='geolocation_modal_denied')| Avbryt
    .modal.fade(role='dialog', id='report_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal', id='report_modal_close') &times;
                    h3.modal-title
                       | Skapa ny rapport
                .modal-body
                    .media
                        .media-left
                            img(style="width: 64px;", class="media-object", src="images/info/vagbom/vagbom_karta.png")
                        .media-body
                            p Denna symbol markerar vägbommar i kartan.
                    hr
                    h4 Vad ska jag titta efter?
                    p
                        img(class="img-responsive", style="width:50%;display:inline; padding-right: 5px;", src="images/info/vagbom/vagbom0.jpg")
                        img(class="img-responsive", style="width:50%; display:inline; padding-right: 5px;", src="images/info/vagbom/vagbom1.jpg")
                    p Mittpunkt för permanent avstängning av enskild väg som kan bestå av vägbom, kedja, wire (låsta eller tillfälligt öppna).
                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='report_modal_accept')| Börja rapportera
                    button.btn.btn-danger(type='button',data-dismiss='modal', id='report_modal_denied')| Avbryt
    .modal.fade(role='dialog', id='manual_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal', id='manual_modal_close') &times;
                    h2.modal-title
                        | &nbsp; Manual
                .modal-body
                    div(role='tabpanel')
                        //- Nav tabs
                        ul.nav.nav-tabs(role='tablist')
                            li(role="presentation", class="active")
                                a(href="#welcomeTab", role="tab", data-toggle="tab") Välkommen
                            li(role="presentation")
                                a(href="#menyTab", role="tab", data-toggle="tab") Navigationsmenyn
                            li(role="presentation")
                                a(href="#mapTab", role="tab", data-toggle="tab") Kartvy
                        div.tab-content
                            #welcomeTab.tab-pane.active(role='tabpanel')
                                .media(style="margin-top:10px;")
                                    .media-body
                                        p Välkomna till duria.se en applikation för insamling av vägbommar!
                                        p Applikationen är utformat som del av ett examensarbete om 15 hp vid Högskolan i Gävle.
                                        p Studiens underlag är delvis baserad på uppdragsbeskrivningen från Lantmäteriet i Gävle.
                                        p För mer information om applikationen eller studien, kontakta någon av studiens författare:
                                        a(href="mailto:danielgoloubev@gmail.com") Daniel Rasmussen
                                        br
                                        a(href="mailto:ofk14sus@student.hig.se") Sebastian Udenius
                            #mapTab.tab-pane(role='tabpanel')
                                ul.nav.nav-tabs(role='tablist')
                                    li(role="presentation", class="active")
                                        a(href="#layersTab", role="tab", data-toggle="tab") Lager
                                    li(role="presentation")
                                        a(href="#gisfunktionerTab", role="tab", data-toggle="tab") GIS funktioner
                                    li(role="presentation")
                                        a(href="#kartfunktionerTab", role="tab", data-toggle="tab") Kartfunktioner
                                div.tab-content
                                    #layersTab.tab-pane.active(role='tabpanel')
                                        .media(style="margin-top:10px;")
                                            .media-left
                                                img(style="width: 32px; height: 32px", class="media-object", src="images/info/rework/Layers/webb_karta_layer.png")
                                            .media-body
                                                button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#webb_karta_layer") Webbkarta
                                                #webb_karta_layer.collapse
                                                    br
                                                    ul
                                                        li Ett lager som kombinerar Ortofoto och Topografisk webbkarta.
                                                        li Kartunderlag från Lantmäteriet.
                                        .media
                                            .media-left
                                                img(style="width: 32px; height: 32px", class="media-object", src="images/info/rework/Layers/gps_layer.png")
                                            .media-body
                                                button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#gps_layer") GPS
                                                #gps_layer.collapse
                                                    br
                                                    ul
                                                        li GPS signalen symboliseras som en cirkel i kartan.
                                                        li Hög noggrannhet ger större cirkel.
                                                        li Låg noggrannhet ger mindre cirkel.
                                        .media
                                            .media-left
                                                img(style="width: 32px; height: 32px", class="media-object", src="images/info/rework/Layers/vägbom_layer.png")
                                            .media-body
                                                button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#vagbom_layer") Vägbommar (Alla)
                                                #vagbom_layer.collapse
                                                    br
                                                    ul
                                                        li Innehåller alla vägbommar
                                                        li Alla vägbommar som finns i verkligheten och i kartan
                                        hr
                                        h4 Funktioner
                                        .media
                                            .media-left
                                                img(style="width: 32px; height: 32px", class="media-object", src="images/info/rework/Layers/onoff_layer.png")
                                            .media-body
                                                button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#onoff_layer") Av/På
                                                #onoff_layer.collapse
                                                    br
                                                    ul
                                                        li Stänger av detta lager.
                                                        li Aktiverar detta lager
                                        .media
                                            .media-left
                                                img(style="width: 32px; height: 32px", class="media-object", src="images/info/rework/Layers/trans.png")
                                            .media-body
                                                button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#trans") Transparens
                                                #trans.collapse
                                                    br
                                                    ul
                                                        li Gör lagret transparent eller genomskinligt.
                                    #gisfunktionerTab.tab-pane(role='tabpanel')
                                        .media(style="margin-top:10px;")
                                            .media-left
                                                img(style="width: 32px; height: 32px", class="media-object", src="images/info/layer_handler.png")
                                            .media-body
                                                button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#lagerhanterare_layer") Lagerhanteraren
                                                #lagerhanterare_layer.collapse
                                                    br
                                                    ul
                                                        li Lagrar alla lager.
                                                        li Lagrar GPS Egenskaper.
                                                        li Går att göra mindre om man klickar på Lagerhanteraren.
                                                        li Går att göra mindre om man klickar på GPS Egenskaper.
                                        .media(style="margin-top:10px;")
                                            .media-left
                                                img(style="width: 32px; height: 32px", class="media-object", src="images/info/rss_handler.png")
                                            .media-body
                                                button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#rss_handler") Senaste
                                                #rss_handler.collapse
                                                    br
                                                    ul
                                                        li Innehåller de 3 senaste inrapporterade vägbommarna.
                                                        li Varje sida innehåller 3 st vägbommar.
                                                        li Går att göra mindre om man klickar på Senaste.
                                                        li Klicka på ikonen eller bilden och du kommer att ta dig till den positionen.

                                    #kartfunktionerTab.tab-pane(role='tabpanel')
                                        .media(style="margin-top:10px;")
                                            .media-left
                                                img(style="width: 32px; height: 64px", class="media-object", src="images/info/rework/Layers/zoom_layer.png")
                                            .media-body
                                                button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#zoom_function") Zoom
                                                #zoom_function.collapse
                                                    br
                                                    ul
                                                        li Klicka på plus för att zomma in.
                                                        li Klicka på minus för att zooma out.
                                                        li Dubbel klicka i kartan för att zomma in.
                                                        li Dra med två fingrar för att zomma in.
                                        .media
                                            .media-left
                                                img(style="width: 32px; height: 32px", class="media-object", src="images/info/rework/Layers/rotate_layer.png")
                                            .media-body
                                                button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#rotate_function") Rotera
                                                #rotate_function.collapse
                                                    br
                                                    ul
                                                        li Vrid med båda fingrarna i kartan
                                                        li Håll in Alt-Shift om du använder ett tangetbord.
                                                        li Klicka på ikonen igen för att återställa rotationen.
                                        .media
                                            .media-left
                                                img(style="width: 32px; height: 32px", class="media-object", src="images/info/urval.png")
                                            .media-body
                                                button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#urval_function") Urval
                                                #urval_function.collapse
                                                    br
                                                    ul
                                                        li Klicka på vägbomsikonerna för att få upp en information.
                                                        li Vägbommar som finns i kartan och i verkligheten har status bekräftad och finns samlade i vägbommslagret "Vägbommar (Finns)" i lagerhanteraren.
                                                        img(style="width: 32px; height: 32px", class="media-object", src="images/roadblocks/rework/bekräftad.png")
                                                        li Vägbommar som finns i verkligheten men saknas i kartan dessa har status LäggTill och finns samlade i vägbommslagret "Vägbommar (Lägg till)" i lagerhanteraren.
                                                        img(style="width: 32px; height: 32px", class="media-object", src="images/roadblocks/rework/läggtill.png")
                                                        li Vägbommar som inte finns i verkligheten men finns i kartan dessa har status TaBort och finns samlade i vägbommslagret "Vägbommar (Ta Bort)" i lagerhanteraren.
                                                        img(style="width: 32px; height: 32px", class="media-object", src="images/roadblocks/rework/tabort.png")
                                                        li Alla vägbommar symboliseras på samma sätt finns i samlade i vägbommslagret "Vägbommar (Alla)" i lagerhanteraren.
                                                        img(style="width: 32px; height: 32px", class="media-object", src="images/roadblocks/rework/standard.png")
                            #menyTab.tab-pane(role='tabpanel')
                                .media(style="margin-top:10px;")
                                    .media-left
                                        img(style="width: 32px; height: 32px", class="media-object", src="images/info/pos.png")
                                    .media-body
                                        button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#more_gps") Min position
                                        #more_gps.collapse
                                            br
                                            ul
                                                li Aktiverar GPS (Global Position System).
                                                li Samlar data om GPS signal.
                                                li Aktiverar GPS lagret i Lagerhanteraren.
                                                li Flyttar till aktuell GPS position.
                                .media
                                    .media-left
                                        img(style="width: 32px; height: 32px", class="media-object", src="images/info/rapport.png")
                                    .media-body
                                        button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#more_rapport") Rapportera
                                        #more_rapport.collapse
                                            br
                                            ol
                                                li Klicka en gång i kartan för att ange position för vägbom.
                                                li Se dig omkring och besvara frågan "Finns vägbommen i verkligheten?"
                                                li Titta i kartan om du kan hitta kartsymbolen för vägbommen.
                                                    img(style="width: 64px;", class="img-responsive", src="images/info/vagbom/vagbom_karta.png")
                                                li Om du har accepterat att applikationen får använda din kamera, ta gärna en bild. Bilden kommer bifogas med rapporten.
                                                li Rapportera
                                .media
                                    .media-left
                                        img(style="width: 32px; height: 32px", class="media-object", src="images/info/manual.png")
                                    .media-body
                                        button.btn.btn-info.fixed-width(type="button", data-toggle="collapse", data-target="#more_manual") Manual
                                        #more_manual.collapse
                                            br
                                            ul
                                                li Aktiverar manualen.
                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='manual_modal_accept')| Kör igång!
                    button.btn.btn-danger(type='button',data-dismiss='modal', id='manual_modal_denied')| Läs senare.
    .modal.fade(role='dialog', id='lagerhanteraren_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal', id='lagerhanteraren_modal_close') &times;
                    h2.modal-title
                        | &nbsp; Om Lagerhanteraren
                .modal-body
                    div(role='tabpanel')
                        //- Nav tabs
                        ul.nav.nav-tabs(role='tablist')
                            li(role="presentation", class="active")
                                a(href="#", role="tab", data-toggle="tab") Panel
                            li(role="presentation")
                                a(href="#", role="tab", data-toggle="tab") Lager
                        div.tab-content
                            //- #welcomeTab.tab-pane.active(role='tabpanel')
                            //- #mapTab.tab-pane(role='tabpanel')
                            //- #menyTab.tab-pane(role='tabpanel')
                            //- #aboutTab.tab-pane(role='tabpanel')

                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='lagerhanteraren_modal_accept')| OK
    .modal.fade(role='dialog', id='gpsegenskaper_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal', id='gpsegenskaper_modal_close') &times;
                    h2.modal-title
                        | &nbsp; Om GPS Egenskaper
                .modal-body
                    p Om noggranhet.
                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='gpsegenskaper_modal_accept')| OK