include includes/modals/confirm_modal
include includes/modals/info_modal
include includes/modals/error_modal
include includes/modals/camera_modal
include includes/left/layers
include includes/left/properties
include includes/right/feed
extends layout
block content
    #map
    .row.main-row
        .col-sm-4.col-md-3.sidebar.sidebar-left.pull-left
            #accordion-left.panel-group.sidebar-body
                .panel.panel-default
                    block layers
                        +layers
                .panel.panel-default
                    block properties
                        +properties
        .col-sm-4.col-md-6.mid
        .col-sm-4.col-md-3.sidebar.sidebar-right.pull-right
             #accordion-right.panel-group.sidebar-body
                .panel.panel-default
                    block feed
                         +feed
    .mini-submenu.mini-submenu-left.pull-left
        i(class='fa fa-stack-exchange')
    .mini-submenu.mini-submenu-right.pull-right
        i(class='fa fa-rss')
    #popup-submit.ol-popup
        a(href='#', id='popup-closer-submit', class='ol-popup-closer')
        form(method='POST', action='/report', onsubmit='return validateForm()', name='myForm')
            //- Ej synliga för användaren
            .form-group.hidden-to-db
                .form-group.coords-to-db
                    label| X
                    input(id='popup-submit-position-x', class='form-control', name='x_coordinates')
                    label| Y
                    input(id='popup-submit-position-y', class='form-control', name='y_coordinates')
                .form-group.date-to-db
                    label| Datum
                    input(id='popup-submit-date', class='form-control', name='date')
                .form-group.time-to-db
                    label| Tid
                    input(id='popup-submit-time', class='form-control', name='time')
                .form-group.accuracy-to-db
                    label| Min accuracy
                    input(id='popup-submit-my-position-accuracy', class='form-control', name='my_accuracy')
                .form-group.img-to-db
                    label| images as base64
                    input(id='popup-submit-img-base64', class='form-control', name='img_baseg64')
                .form-group.status-to-db
                    input(id="hidden_output_to_db", class='form-control', name="status", value="")
                //- Synliga för användaren
            .form-group
                p Finns vägbommen i verkligheten?
                label.radio-inline
                    input(type="radio", name="Finns_i_falt", value="Ja")
                    label Ja
                label.radio-inline
                    input(type="radio", name="Finns_i_falt", value="Nej")
                    label Nej
                p Finns vägbommen i kartan?
                label.radio-inline
                    input(type="radio", name="Finns_i_karta", value="Ja")
                    label Ja
                label.radio-inline
                    input(type="radio", name="Finns_i_karta", value="Nej")
                    label Nej
                //- label(for='status_select')
                //- select(id='status_select', class='', name='status')
                    optgroup(label='')
                        option(value="") Ange vägbommens tillstånd
                    optgroup(label='Din rapport bekräftar att vägbommen både finns i kartan och i verkligheten.')
                        option(value='Bekräftad', name='status') Bekräfta
                    optgroup(label='Din rapport anger att vägbommen saknas i kartan fast den finns i verkligheten.')
                        option(value='Finns', name='status') Lägg till
                    optgroup(label='Din rapport anger att vägbommen finns i kartan men den finns inte längre i verkligheten.')
                        option(value='Saknas', name='status') Ta bort
            .form-group
                input(type='submit', id='popup-submit-submit',class='form-control btn btn-success', value='Rapportera')
                //- TODO:: Rest all input values
                br
                button(type='button',id='popup-submit-cancel' ,class='form-control btn btn-warning', value='')| Avbryt
            .form-group
                button(type='button', data-toggle='modal', data-target='#camera_modal', id='popup-submit-camera', class='form-control btn btn-info')| Lägg till Foto (frivilligt)

    #popup-select.ol-popup
        a(href='#', id='popup-closer-select', class='ol-popup-closer')
        #popup-content-select
            .media
                .media-left
                    img(src='/images/roadblocks/standard.png', style="width: 128px; height: 128px;", id="popup-content-select-img")
                .media-right(style="width: 300px; padding: 0px;")
                    h4.media-heading Information
                    table.table(style="width: 200px; margin-bottom: 0px;")
                      tr
                        th Datum
                        td#popup-content-select-date
                      tr
                        th Tid
                        td#popup-content-select-tid
                      tr
                        th Status
                        td#popup-content-select-status
    +em
    +camera('camera_modal', 'Kamera')
    +info_modal('status_modal', 'Rapport kan inte skickas', 'Applikationen kan endast skicka en rapport om båda frågorna är besvarade och om båda svaren inte är nej.')

    +confirm_modal('bekräfta_modal', 'Intyg', 'Stämmer det att vägbommen finns i verkligheten och i kartan?')
    +confirm_modal('läggtill_modal', 'Intyg', 'Stämmer det att vägbommen finns i verkligheten och att vägbommen inte finns kartan?')
    +confirm_modal('tabort_modal', 'Intyg', 'Stämmer det att vägbommen saknas i verkligheten och att vägbommen finns i kartan?')

    //- +confirm_modal('inofficiell_modal', 'Intyg', 'Stämmer det att vägbommen saknas i verkligheten och att vägbommen saknas i kartan?')
    //- +info_modal('geolocation_modal', 'Geolocation', 'Applikationen kommer nu att använda oss av er inbyggda GPS sensor för att ta reda på er position och förflytta er till den delen av kartan.')
    .modal.fade(role='dialog', id='geolocation_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', id='geolocation_modal_close') &times;
                    h4.modal-title
                        | Min Position
                .modal-body
                    p Är du säker på att du vill aktivera 'Min Position'?
                    //p Applikationen kommer nu att försöka hämta din position m.h.a GPS (Global Positiong System).
                    //p Varje GPS mätning skapar en parameter som heter noggrannhet.
                    //p Noggrannheten används för att representera GPS signalen i applikationen som en blå cirkel.
                    //-.media
                         .media-left
                             img(style="width: 128px;", class="media-object", src="images/info/layer_handler.png")
                         .media-body
                             h4.media-heading Lagerhanteraren
                             p Det går att stänga av GPS symbolen via lagerhanteraren som finns i kartan.
                             p Du kan också se din aktuella noggrannhet via lagerhanteraren och undermenyn GPS Egenskaper.
                    //-hr
                    //-.media
                         .media-left
                             img(style="width: 126px;", class="media-object", src="images/info/GPS_high.png")
                         .media-body
                             h4.media-heading Hög noggrannhet
                             p Det finns ett antal orsaker till att GPS noggrannheten är hög.
                             p Exempelvis:
                                 ul
                                    li Din position är inomhus eller under ett tak.
                                    li Din position är nära ett föremål exemplivis träd, höga byggnader som blockerar GPS signalen
                                    li Oftast beror hög noggrannhet på att positionen befinner sig vid en stationär enhet.
                                    li Noggrannheten kan också manipuleras av en VPN (Virtual Private Network) tjänst
                                    li Din ISP (Internet Service Provider) dvs. internetleverantör kan också förvränga GPS noggrannheten.
                    //-.media
                         .media-left
                             img(style="width: 126px;", class="media-object", src="images/info/GPS_low.png")
                         .media-body
                             h4.media-heading Låg noggrannhet
                             p Om noggrannehten är låg så kan du följa din position i kartan om du förflyttar dig exempelvis.
                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='geolocation_modal_accept')| Ja
                    button.btn.btn-danger(type='button',data-dismiss='modal', id='geolocation_modal_denied')| Avbryt
    //- +info_modal('urval_modal', 'Urval', 'Du kommer nu få möjligheten att hämta information om redan inrapporterade vägbommar genom att klicka på dessa i kartan.')
    .modal.fade(role='dialog', id='urval_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal', id='urval_modal_close') &times;
                    h2.modal-title
                        | &nbsp; Urval
                .modal-body
                     p Du kommer nu att aktivera urvalsfunktionen vilket tillåter dig att hämta information om en vägbom genom att klicka dess ikon i kartan.
                     p Det går endast att klicka på en vägbom i taget.
                     p Efter ett framgångsrikt klick bekräftas urvalet genom att en popup ruta öppnas med information om aktuell vägbom.
                     hr
                     h4 Symboler
                     .media
                          .media-left
                              img(style="width: 64px; height: 64px", class="media-object", src="images/roadblocks/finns.png")
                          .media-body
                              h4.media-heading Vägbom finns
                              p Denna ikon betyder att en vägbom finns i kartan men saknas i fält.
                     .media
                          .media-left
                              img(style="width: 64px; height: 64px", class="media-object", src="images/roadblocks/saknas.png")
                          .media-body
                              h4.media-heading Vägbom saknas
                              p Denna ikon betyder att en vägbom finns i fält men saknas i kartan.
                     .media
                          .media-left
                              img(style="width: 64px; height: 64px", class="media-object", src="images/info/rss_handler.png")
                          .media-body
                              h4.media-heading Senast inrapporterade
                              p När du klickar på denna ikon i kartan så öppnas det upp en historik.
                              p I den kan du se senast inrapporterade.
                              p Om du vill navigera till den positionen klicka då på ikonen eller bilden bredvid positions informationen.
                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='urval_modal_accept')| Acceptera
                    button.btn.btn-danger(type='button',data-dismiss='modal', id='urval_modal_denied')| Avbryt
    //- +info_modal('report_modal', 'Rapportera', 'Du kommer nu aktivera funktionen att rapportera in vägbommar genom att klicka i kartan.')
    .modal.fade(role='dialog', id='report_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal', id='report_modal_close') &times;
                    h3.modal-title
                       | Skapa ny rapport
                .modal-body
                    .media
                        .media-left
                            img(style="width: 64px;", class="media-object", src="images/info/vagbom/vagbom_karta.png")
                        .media-body
                            p Denna symbol markerar vägbommar i kartan.
                    //- h4 Status: Finns
                    //- p Vägbom finns i kartan men saknas i fält.
                    //- h4 Status: Saknas
                    //- p Vägbom saknas i kartan men finns i fält.
                    //- p Du har även möjligheten att ta en bild på platsen och skicka med din rapport (detta är dock helt frivilligt).
                    hr
                    h4 Vad ska jag titta efter?
                    p
                        img(class="img-responsive", style="width:50%;display:inline; padding-right: 5px;", src="images/info/vagbom/vagbom0.jpg")
                        img(class="img-responsive", style="width:50%; display:inline; padding-right: 5px;", src="images/info/vagbom/vagbom1.jpg")
                    p Mittpunkt för permanent avstängning av enskild väg som kan bestå av vägbom, kedja, wire (låsta eller tillfälligt öppna).

                    //- p Nedan följer en detaljerad specifikation.
                    //-hr
                    //-h3 Vägbom
                    //-h4 Definition
                    //-p Permanent konstruktion som används för att avstänga väg för obehörig trafik.
                    //-h4 Beskrivning
                    //-p Mittpunkt för permanent avstängning av enskild väg som kan bestå av vägbom, kedja, wire (låsta eller tillfälligt öppna).
                    //-h4 Urval
                    //-p Redovisas fullständingt för bilväg och sämre väg.
                    //-p Undantag för väg kortare än 250 m, uppfartsvägar och vägar inom bebyggelseområde.
                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='report_modal_accept')| Börja rapportera
                    button.btn.btn-danger(type='button',data-dismiss='modal', id='report_modal_denied')| Avbryt
    .modal.fade(role='dialog', id='manual_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal', id='manual_modal_close') &times;
                    h2.modal-title
                        | &nbsp; Manual
                .modal-body
                    div(role='tabpanel')
                        //- Nav tabs
                        ul.nav.nav-tabs(role='tablist')
                            li(role="presentation", class="active")
                                a(href="#welcomeTab", role="tab", data-toggle="tab") Välkommen
                            li(role="presentation")
                                a(href="#mapTab", role="tab", data-toggle="tab") Kartvy
                            li(role="presentation")
                                a(href="#menyTab", role="tab", data-toggle="tab") Menyraden
                            li(role="presentation")
                                a(href="#aboutTab", role="tab", data-toggle="tab") Information om applikation.
                        div.tab-content
                            #welcomeTab.tab-pane.active(role='tabpanel')
                                br
                                p Välkomna till vår applikation för insamling av vägbommar i Gävle-området!
                                p Mer information om studien som applikationen är en del av finns i slutet av denna introduktion.
                            #mapTab.tab-pane(role='tabpanel')
                                ul.nav.nav-tabs(role='tablist')
                                    li(role="presentation", class="active")
                                        a(href="#layersTab", role="tab", data-toggle="tab") Lager
                                    li(role="presentation")
                                        a(href="#controllersTab", role="tab", data-toggle="tab") Kontroller
                                div.tab-content
                                    #layersTab.tab-pane.active(role='tabpanel')
                                        br
                                        .media
                                            .media-left
                                                img(style="width: 128px; ", class="media-object", src="images/info/lant.png")
                                            .media-body
                                                ul
                                                    li Topografisk webbkarta
                                                    li Ortofoto
                                        hr
                                        .media
                                            .media-left
                                                 img(style="width: 128px; height: 128px", class="media-object", src="images/info/osm.png")
                                            .media-body
                                                 p Applikationen innehåller en karta som är hämtad från
                                                     a(href="https://www.openstreetmap.org/copyright)") OpenStreetMap-projektet
                                                 p Det är möjligt att dra runt i kartan, zooma in/ut (genom “pinch-to-zoom” med pekskärm eller “scrolla” med mus) och rotera kartan (på vissa enheter).
                                        hr
                                        .media
                                            .media-left
                                                img(style="width: 128px; height: 128px", class="media-object", src="images/info/bing.jpg")
                                            .media-body
                                                p Info text om Bing maps
                                    #controllersTab.tab-pane(role='tabpanel')
                                        br
                                        .media
                                            .media-left
                                                img(style="width: 128px; height: 128px", class="media-object", src="images/info/layer_handler.png")
                                            .media-body
                                                 p Knappen längst upp till vänster i kartvyn (som innehåller fyra vågräta streck) öppnar en inställningspanel för lagerna som visas i kartvyn.
                                                 p Denna inställningspanel rekommenderas enbart för avancerade användare.
                                        hr
                                        .media
                                            .media-left
                                                img(style="width: 128px; height: 128px", class="media-object", src="images/info/rss_handler.png")
                                            .media-body
                                                p Knappen längst upp till höger (som innehåller tre streck i en kvartscirkel) öppnar en panel med de senaste registreringarna som har gjorts av applikationens användare.
                                        hr
                                        .media
                                            .media-left
                                                img(style="width: 64px; height: 128px", class="media-object", src="images/info/zoom.png")
                                            .media-body
                                                p De två knapparna under den föregående knappen (som innehåller ett plus- och ett minustecken) zoomar in/ut i kartan.
                                        hr
                                        .media
                                            .media-left
                                                img(style="width: 128px; height: 128px", class="media-object", src="images/info/rotate.png")
                                            .media-body
                                                p Om kartan har roteras finns det en knapp under föregående knappen (som innehåller en pil) som återställer kartans rotering till ursprungsvärdet (så att norr är uppåt).
                            #menyTab.tab-pane(role='tabpanel')
                                br
                                .media
                                    .media-middle
                                        img(class="media-object", src="images/info/meny_stor.png")
                                    .media-body
                                        br
                                        p &nbsp;&nbsp;&nbsp; Längst upp i applikationen finns det en menyrad som har vit bakgrund.
                                        h3 Funktionsmenyn
                                        p Menyn innehåller tre funktioner. Varje funktion kan aktiveras genom respektive knapp. Mer information om de enskilda funktionerna finns i popup-fönstret som kommer upp vid aktivering av funktionen.
                                        .media
                                            .media-left
                                                img(style="width: 64px; height: 64px", class="media-object", src="images/info/pos.png")
                                            .media-body
                                                p Funktionen “Min position” aktiverar positionering av användaren med hjälp av GPS.
                                        .media
                                            .media-left
                                                img(style="width: 64px; height: 64px", class="media-object", src="images/info/rapport.png")
                                            .media-body
                                                p Funktionen “Rapportera” aktiverar rapportering av vägbommar. Användaren kan rapportera in vägbommar som saknas i kartan (men existerar i verkligheten) eller vägbommar som existerar i kartan (men saknas i verkligheten).
                                        .media
                                            .media-left
                                                img(style="width: 64px; height: 64px", class="media-object", src="images/info/urval.png")
                                            .media-body
                                                p Funktionen “Urval” aktiverar val av individuella vägbommar i kartvyn för att få information om specifika vägbommar.
                                        .media
                                            .media-left
                                                img(style="width: 64px; height: 64px", class="media-object", src="images/info/manual.png")
                                            .media-body
                                                p Funktionen “Manual” aktiverar val manualen.
                                hr
                                .media
                                    .media-left
                                        img(style="width: 64px; height: 64px", class="media-object", src="images/info/home.png")
                                    .media-body
                                        p Knappen längst till vänster (som innehåller ett hus) återställer kartan till dess ursprungliga position.
                                .media
                                    .media-left
                                        img(style="width: 64px; height: 64px", class="media-object", src="images/info/meny.png")
                                    .media-body
                                        p På enheter med mindre skärmar (som exempelvis mobiltelefoner) finns det en knapp (som innehåller tre vågräta streck) som öppnar funktionsmenyn.
                                        p På enheter med större skärmar finns funktionsmenyn längst till vänster i menyraden.
                            #aboutTab.tab-pane(role='tabpanel')
                                br
                                .media
                                    .media-left
                                        a(href="https://hig.se")
                                            img(style="width: 128px; height: 128px", class="media-object", src="images/info/hig.jpg")
                                    .media-body
                                        p Applikationen är utformat som del av ett examensarbete om 15 hp vid Högskolan i Gävle.
                                        p För mer information om applikationen eller studien, kontakta någon av studiens författare:
                                        a(href="mailto:danielgoloubev@gmail.com") Daniel Rasmussen
                                        br
                                        a(href="mailto:ofk14sus@student.hig.se") Sebastian Udenius
                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='manual_modal_accept')| Kör igång!
                    button.btn.btn-danger(type='button',data-dismiss='modal', id='manual_modal_denied')| Läs senare.
    .modal.fade(role='dialog', id='lagerhanteraren_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal', id='lagerhanteraren_modal_close') &times;
                    h2.modal-title
                        | &nbsp; Om Lagerhanteraren
                .modal-body
                    div(role='tabpanel')
                        //- Nav tabs
                        ul.nav.nav-tabs(role='tablist')
                            li(role="presentation", class="active")
                                a(href="#", role="tab", data-toggle="tab") Panel
                            li(role="presentation")
                                a(href="#", role="tab", data-toggle="tab") Lager
                        div.tab-content
                            //- #welcomeTab.tab-pane.active(role='tabpanel')
                            //- #mapTab.tab-pane(role='tabpanel')
                            //- #menyTab.tab-pane(role='tabpanel')
                            //- #aboutTab.tab-pane(role='tabpanel')

                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='lagerhanteraren_modal_accept')| OK
    .modal.fade(role='dialog', id='gpsegenskaper_modal')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal', id='gpsegenskaper_modal_close') &times;
                    h2.modal-title
                        | &nbsp; Om GPS Egenskaper
                .modal-body
                    p Om noggranhet.
                .modal-footer
                    button.btn.btn-success(type='button',data-dismiss='modal', id='gpsegenskaper_modal_accept')| OK