include includes/modals/geolocation
include includes/modals/error_modal
include includes/modals/camera
include includes/left/layers
include includes/left/properties
include includes/right/feed
extends layout
block content
    #map
    .row.main-row
        .col-sm-4.col-md-3.sidebar.sidebar-left.pull-left
            #accordion-left.panel-group.sidebar-body
                .panel.panel-default
                    block layers
                        +layers
                .panel.panel-default
                    block properties
                        +properties
        .col-sm-4.col-md-6.mid
        .col-sm-4.col-md-3.sidebar.sidebar-right.pull-right
            //- #accordion-right.panel-group.sidebar-body
                .panel.panel-default
                    block feed
                         +feed
    .mini-submenu.mini-submenu-left.pull-left
        i(class='fa fa-stack-exchange')
    //-.mini-submenu.mini-submenu-right.pull-right
        i(class='fa fa-rss')
    #popup-submit.ol-popup
        a(href='#', id='popup-closer-submit', class='ol-popup-closer')
        form(method='POST', action='/report')
            .form-group
                // Collapsible?
                label| Latitude
                input(id='popup-submit-position-x', class='form-control', name='x_coordinates')
                label| Latitude
                input(id='popup-submit-position-y', class='form-control', name='y_coordinates')
            .form-group
                button(type='button', data-toggle='modal', data-target='#camera_modal', id='popup-submit-camera', class='form-control btn btn-default')| Ta bild
                //- a(href='', data-toggle='modal', data-target='#camera_modal', id='camera-button', class='form-control btn btn-default')
                    i(class='fa fa-camera fa-lg', aria-hidden='true')|&nbsp; Kamera
            .form-group
                input(type='submit', id='popup-submit-submit',class='form-control btn btn-default', value='Rapportera')
                button(type='button',id='popup-submit-cancel' ,class='form-control btn btn-default', value='')| Avbryt
    #popup-select.ol-popup
        a(href='#', id='popup-closer-select', class='ol-popup-closer')
        #popup-content-select
    +geolocation('geolocation_modal', 'Geolocation', 'Vi kommer nu att använda oss av er inbyggda GPS sensor för att ta reda på er position och förflytta er till den delen av kartan.')
    +em
    +camera('camera_modal', 'Kamera')
