include includes/top/navbar
include includes/favicon/favicon
doctype html
html(lang="se")
  head
    title duria.se
    meta(charset='utf-8')
    meta(name='description' content='Crowdsourcing kopplat till geodataspecifikationer')
    meta(name='keywords' content='Lantmäteriet,Högskolan i Gävle,HIG,examensarbete 2017,IT/GIS-programmet,IT-systemuveckling med inriktning mot systemutveckling,datavetenskap')
    meta(name='author' content='Daniel Goloubev')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/ol3/4.1.1/ol.css", integrity='sha384-qvEMHURr32YrejBOU8/dilpPAN+57iD03+SUiYjxgbpKgXGN5+4gVpajdyRw4QgJ', crossorigin='anonymus')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymus')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymus')
    - var inDevelopmentMODE = false;
    - if(inDevelopmentMODE)
        link(rel='stylesheet', href='/stylesheets/layout_style.css')
        link(rel='stylesheet', href='/stylesheets/fix.css')
        link(rel='stylesheet', href='/stylesheets/popup.css')
        link(rel='stylesheet', href='/stylesheets/modal_manual.css')
    - else
        link(rel='stylesheet', href='/stylesheets/layout_style.css', integrity='sha384-Ushjo7idqUgm2vApxxEW4UK94SIhtCovCS2wbb9GuQ59apYzplwuIaJLQbrAm/bY', crossorigin='anonymus')
        link(rel='stylesheet', href='/stylesheets/fix.css', integrity='sha384-1litmGVPIG1V7FSRsEsMB8Rq2U95k8c0IgZXxTqB623iERDSNUJD9omjITluCqHN', crossorigin='anonymus')
        link(rel='stylesheet', href='/stylesheets/popup.css', integrity='sha384-l2Oc8xSITE9KtSWgQbRkG8WkXLyvkSJ2mEJaxC6Cn6sYu+rtF7YJH6NXVahJCIxD', crossorigin='anonymus')
        link(rel='stylesheet', href='/stylesheets/modal_manual.css', integrity='sha384-1GLzVVHRz9o7nLczr3OzqHACOpWWZpvj9LcubAFjpStOazCvsFxchOJ56PJ9mreQ', crossorigin='anonymus')
    block favicon
      +favicon
    script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.js" integrity="sha384-54hC88ASWStHTWO6cD/wH7PQ5LjJnpvMWdMogl6uNZ4B2WMuaLagQXDQavbIKbf9" crossorigin="anonymous")
    script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js" integrity="sha384-pSNzwDMV6yHjiUBAqlbhEe7ZgtdlEk269JyrNJ6KopPB7QrkqHrYikaRu7YhH8oJ" crossorigin="anonymous")
    //- script(type='text/javascript', src='/javascripts/sketch.js', integrity='sha384-muxhAwivPn4P4fA6MXl0kbE0gurubDt71zQ3xy2bNkx/fbFqno48sQiFteVuEbZa', crossorigin='anonymous')


  body
    .container
      block navbar
        +navbar
    .navbar-offset
    block content
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/ol3/4.1.1/ol.js', integrity='sha384-oaswepoPDnt10p+m6EF7IhHMg3pFuN3ZiJ/TxSEYIdaeqZ//ihlFKScJEtyBqkPg', crossorigin='anonymus')
    script(type='text/javascript', src='//code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymus')
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymus')
    - if(inDevelopmentMODE)
        script(type='text/javascript', src='/javascripts/sketch.js')
        script(type='text/javascript', src='/javascripts/layout_script.js')
        script(type='text/javascript', src='/javascripts/map.js')
    - else
        script(type='text/javascript', src='/javascripts/layout_script.js', integrity='sha384-7FGc33MOg7EGu2h7xme1PJRRH1vE5iwa6ZaCoYiyOm6dYlPyCt3MHV4pQ88aAefH', crossorigin='anonymus')
        script(type='text/javascript', src='/javascripts/map.js', integrity='sha384-hpe8QNbtfWlp4L/2z5j+W89Ht1G7naFUy6cB2jv4duPbuMx1nXtJNLxWo29StY/c', crossorigin='anonymus')
        script(type='text/javascript', src='/javascripts/sketch.js', integrity='sha384-muxhAwivPn4P4fA6MXl0kbE0gurubDt71zQ3xy2bNkx/fbFqno48sQiFteVuEbZa', crossorigin='anonymous')
    //- FOR PRODUCTION
    //- script(type='text/javascript', src='/javascripts/layout_script.js', integrity='sha384-7FGc33MOg7EGu2h7xme1PJRRH1vE5iwa6ZaCoYiyOm6dYlPyCt3MHV4pQ88aAefH', crossorigin='anonymus')
    //- script(type='text/javascript', src='/javascripts/map.js', integrity='sha384-hpe8QNbtfWlp4L/2z5j+W89Ht1G7naFUy6cB2jv4duPbuMx1nXtJNLxWo29StY/c', crossorigin='anonymus')
    //- FOR DEVELOP

    script(type='text/javascript').
      var sure = false;
      function validateForm() {
        var falt = document.forms["myForm"]["Finns_i_falt"].value;
        var karta = document.forms["myForm"]["Finns_i_karta"].value;
        var status = $('#hidden_output_to_db');
        if (    falt == "" && karta == "" ||
                falt == "" && karta != "" ||
                falt != "" && karta == "" ||
                karta == "Nej" && falt == "Nej") {
            $('#status_modal').modal('show');
            return false;
        } else if (karta == 'Ja' && falt == 'Ja'){
            if (!sure) {
                $('#bekräfta_modal').modal('show');
            }
            $('#bekräfta_modal_accept').on('click', function () {
                sure = true;
                $('#bekräfta_modal').modal('hide');
            });
            if (sure) {
                return status.attr('value', 'Bekräftad');
            } else {
                return false;
            }
        } else if (karta == 'Ja' && falt == 'Nej'){
            if (!sure) {
                $('#tabort_modal').modal('show');
            }
            $('#tabort_modal_accept').on('click', function () {
                sure = true;
                $('#tabort_modal').modal('hide');
            });
            if (sure) {
                return status.attr('value', 'LäggTill');
            } else {
                return false;
            }
        } else if (karta == 'Nej' && falt == 'Ja'){
            if (!sure) {
                $('#läggtill_modal').modal('show');
            }
            $('#läggtill_accept').on('click', function () {
                sure = true;
                $('#läggtill_modal').modal('hide');
            });
            if (sure) {
                return status.attr('value', 'TaBort');
            } else {
                return false;
            }
        }
        return false;
      }