include includes/top/navbar
include includes/favicon/favicon
doctype html
html(lang="se")
  head
    title duria.se
    meta(charset='utf-8')
    meta(name='description' content='Crowdsourcing kopplat till geodataspecifikationer')
    meta(name='keywords' content='Lantmäteriet Högskolan i Gävle HIG examensarbete 2017 IT/GIS-programmet IT-systemuveckling med inriktning mot systemutveckling')
    meta(name='author' content='Daniel Goloubev')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/ol3/4.1.1/ol.css", integrity='sha384-qvEMHURr32YrejBOU8/dilpPAN+57iD03+SUiYjxgbpKgXGN5+4gVpajdyRw4QgJ', crossorigin='anonymus')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymus')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymus')
    link(rel='stylesheet', href='/stylesheets/layout_style.css')
    //- link(rel='stylesheet', href='/stylesheets/fix.css' integrity='sha256-8s0rb+Yb0SIFGyzxybgYZwS/nfq+V/ZKRKLcM/9Mv0k=', crossorigin='anonymus')
    link(rel='stylesheet', href='/stylesheets/fix.css')
    link(rel='stylesheet', href='/stylesheets/popup.css')
    block favicon
      +favicon
    script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.js" integrity="sha384-54hC88ASWStHTWO6cD/wH7PQ5LjJnpvMWdMogl6uNZ4B2WMuaLagQXDQavbIKbf9" crossorigin="anonymous")
    script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js" integrity="sha384-pSNzwDMV6yHjiUBAqlbhEe7ZgtdlEk269JyrNJ6KopPB7QrkqHrYikaRu7YhH8oJ" crossorigin="anonymous")
    //- script(type='text/javascript', src='/javascripts/sketch.js', integrity='sha384-zJEEwhKf+rNcEK+i3ZaBFiummIz5cEmtjZBjfTpSo4YXmbEQG0Ps5ktXD4Jn1yG2', crossorigin='anonymus')
    script(type='text/javascript', src='/javascripts/sketch.js')
  body
    .container
      block navbar
          +navbar
    .navbar-offset
    block content

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/ol3/4.1.1/ol.js', integrity='sha384-oaswepoPDnt10p+m6EF7IhHMg3pFuN3ZiJ/TxSEYIdaeqZ//ihlFKScJEtyBqkPg', crossorigin='anonymus')
    script(type='text/javascript', src='//code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymus')
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymus')
    script(type='text/javascript', src='/javascripts/layout_script.js', integrity='sha384-S+iXVTVO+mC9VmSe5BNCtEdxQFDNIaC8+ssdF6wWoQFdG5Xl5n8qaIhJie54kEmW', crossorigin='anonymus')
    //- script(type='text/javascript', src='/javascripts/map.js', integrity='sha384-CdCxI0KV3mbcg8s8+60ZiKZLce8wiyDCb6Dv6qNIGalczDAMveXrF+HAOgUxvsXw', crossorigin='anonymus')
    script(type='text/javascript', src='/javascripts/map.js')
