include includes/top/navbar
include includes/favicon/favicon
doctype html
html(lang="se")
  head
    title duria.se
    meta(charset='utf-8')
    meta(name='description' content='Web GIS lösningar av Daniel Goloubev')
    meta(name='keywords' content='GIS')
    meta(name='author' content='Daniel Goloubev')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/ol3/4.1.1/ol.css', integrity='sha384-qvEMHURr32YrejBOU8/dilpPAN+57iD03+SUiYjxgbpKgXGN5+4gVpajdyRw4QgJ', crossorigin='anonymus')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymus')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymus')
    link(rel='stylesheet', href='/stylesheets/layout_style.css', integrity='sha384-Bx2QOcUfBFlTbCVGC2obdO+44EFZCE0A3KYPVGXnP3sopjxHof2XnBErJXJ4zqCx', crossorigin='anonymus')
    link(rel='stylesheet', href='/stylesheets/fix.css', integrity='sha384-iUvtY+CmYKc05jbpgSpkBLj3u9Jfqk8zBWLxBOpMeCLTFyf2JV+PvIFnEgXpsO/c', crossorigin='anonymus')
    block favicon
      +favicon
  body
    .container
      block navbar
          +navbar
    .navbar-offset
    block content

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/ol3/4.1.1/ol.js', integrity='sha384-oaswepoPDnt10p+m6EF7IhHMg3pFuN3ZiJ/TxSEYIdaeqZ//ihlFKScJEtyBqkPg', crossorigin='anonymus')
    script(type='text/javascript', src='//code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymus')
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymus')
    script(type='text/javascript', src='/javascripts/layout_script.js', integrity='sha384-RNZPtptijC20tcKZowgtbL478GTeseVAcIGraN5eMNn8xnnzB8uIOTv+O84zFvDY', crossorigin='anonymus')
    script(type='text/javascript', src='/javascripts/map.js')
