mixin properties
    .panel-heading
        h4.panel-title
            a(data-toggle='collapse', href='#properties')
                i(class='fa fa-newspaper-o fa-lg', aria-hidden='true')|&nbsp; GPS Egenskaper
    #properties(class='panel-collapse collapse in')
        .panel-body
            ul.list-group
                li.list-group-item#accuracy Noggrannhet: - m