.modal-dialog{width: 90%;}
label.list-group-item.checkbox-inline:first-child {
    margin-left: 10px;
}
div.panel-body.list-group {
    padding-top: 0px;
}
label.list-group-item.checkbox-inline:first-child {
    border-top: 0px;
}
.hidden-to-db {
    display: none;
}
#sketch-holder{
    width: 320px;
    margin: 0 auto;
}
#sketch-holder button{
    padding-left: 115px;
    padding-right: 115px;
}
#popup-submit-submit{
    margin-bottom: 4px;
}