.modal-dialog{ width: 90%; }
label.list-group-item.checkbox-inline:first-child {
    margin-left: 10px;
}
div.panel-body.list-group {
    padding-top: 0px;
}
label.list-group-item.checkbox-inline:first-child {
    border-top: 0px;
}
.hidden-to-db {
    display: none;
}

#popup-submit-submit{
    margin-bottom: 4px;
}
.fixed-width {
    width: 100%;
}
.modal {
     width: 50%;
     margin-left: 25%;
 }
#manual_modal {
    overflow: hidden;
}
#camera_modal {
    overflow: hidden;
    width: 420px;
}