mixin favicon
    link(rel='apple-touch-icon', sizes='57x57',href='/images/favicon/apple-icon-57x57.png', integrity='sha384-J2ctMkmqLyLtp1EoWiutFSBNT/mBFaKX9fAmgc/m9RCYyzqDq0s+i/kYZuxLfJse', crossorigin='anonymus')
    link(rel='apple-touch-icon', sizes='60x60',href='/images/favicon/apple-icon-60x60.png', integrity='sha384-ckWYIqtl0KDMxKg1GcV7VL+/8tbX+loCfpiF1cUQjLHWWU79F66fnr2k3ZvMxNSr', crossorigin='anonymus')
    link(rel='apple-touch-icon', sizes='72x72',href='/images/favicon/apple-icon-72x72.png', integrity='sha384-hNy1lFUA1rTPx1t+cSm3ExFqESthqDpcudwXbdl2RcOmMupVdk/SzpZnBzYO0SmM', crossorigin='anonymus')
    link(rel='apple-touch-icon', sizes='76x76',href='/images/favicon/apple-icon-76x76.png', integrity='sha384-EyGGZZ15S+vhVf+Baq9acpNC9gMEirVftESuHTjkfXMIqlUmiGFAKVOszRaT2yaQ', crossorigin='anonymus')
    link(rel='apple-touch-icon', sizes='114x114',href='/images/favicon/apple-icon-114x114.png', integrity='sha384-IL/wvGmRfw0yzrMe1qxrnzty2yDJ6TpsEXlJYb/Zprrys9KEjSDGhNjrKv2Va54I', crossorigin='anonymus')
    link(rel='apple-touch-icon', sizes='120x120',href='/images/favicon/apple-icon-120x120.png', integrity='sha384-ijHHWompsNEHLoJQD/NtmwJF83OpDt5yF5/BnPdL7/QZv82dFP8tQX1PxGSmX8Dv', crossorigin='anonymus')
    link(rel='apple-touch-icon', sizes='144x144',href='/images/favicon/apple-icon-144x144.png', integrity='sha384-dEuT8wpxF6pvUBbvP4UlAchMTvgEqR7wjsW3B8GRD88TfXT9v+3VMefcShz0Aqqo', crossorigin='anonymus')
    link(rel='apple-touch-icon', sizes='152x152',href='/images/favicon/apple-icon-152x152.png', integrity='sha384-7kLZk5RQcLZi4/duSFX4QHrnesNW+ZxnzDvzKg0M3GWeSzyIcuS03VnFWOLnGxhm', crossorigin='anonymus')
    link(rel='apple-touch-icon', sizes='180x180',href='/images/favicon/apple-icon-180x180.png', integrity='sha384-VwhAf+YdC99/SZZLJ2Mf1KpL8j10+J95IkQVb9YdrfrLSqpYOEGNJab7i6kAcyTr', crossorigin='anonymus')
    link(rel='icon', type='image/png', size='192x192' href='/images/favicon/android-icon-192x192.png', integrity='sha384-cM5I4hVjaIHQWygGswK0rfi5kG+HPZDqPKoCVa2nby2c8fbWYZWUBS1Pz3GWC/lo', crossorigin='anonymus')
    link(rel='icon', type='image/png', size='32x32' href='/images/favicon/favicon-32x32.png', integrity='sha384-6gLGOwGQwLBm9YctG8GO+/sVq3vR1h3ua3CJ4iMMw4AWO+CMlEM+bax4rhdR36od', crossorigin='anonymus')
    link(rel='icon', type='image/png', size='96x96' href='/images/favicon/favicon-96x96.png', integrity='sha384-tmpCeXqFYYh1sAr7ZI1o2lyykKnLofdyCAakPt5IOgZFekDGRmsrtHqv55kh0vTF', crossorigin='anonymus')
    link(rel='icon', type='image/png', size='16x16' href='/images/favicon/favicon-16x16.png', integrity='sha384-XAR3xJEnHlOItFZP8hdfOp+CsNviCLqjA2T7yVbJOxYTCZk6K2wXQDuPV0HVIIVx', crossorigin='anonymus')
    link(rel='manifest', href='/manifest.json', integrity='sha384-2UO8LIH3rKPG7hKDxe1ufGu09a0d48iefJijcuwYJ/T6KOVAhd5v859Ezf8U6UU8', crossorigin='anonymus')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
