mixin em
    .modal.fade(role='dialog', id='em_model')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button',data-dismiss='modal') &times;
                    h4.modal-title
                        | ERROR
                    .modal-body
                        p(id='em_model_body')
                            | Dessvärre har ett fel har inträffat:
                            br