mixin navbar
  nav.navbar.navbar-fixed-top.navbar-default(role='navigation')
      .container-fluid
          .navbar-header
              button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#meny')
                span(class='sr-only') Toggle navigation
                - for (var i = 0; i < 3; i++) {
                  span(class='icon-bar')
                - }
               a(class='navbar-brand visible-xs-block', href='https://duria.se')
                i(class='fa fa-home fa-lg', aria-hidden='true')|&nbsp; Duria.se
          .collapse.navbar-collapse#meny
              ul(class='nav navbar-nav')
                  li
                    a(href='', data-toggle='modal', data-target='#geolocation_modal', id='Min_position')
                      i(class='fa fa-location-arrow fa-lg', aria-hidden='true')|&nbsp; Min position
                  li
                    a(href='#', id='Report')
                      i(class='fa fa-plus-square fa-lg', aria-hidden='true')|&nbsp; Rapportera
                  li
                    a(href='#', id='single-select-button')
                        i(class='fa fa-hand-o-up fa-lg', aria-hidden='true')|&nbsp; Urval
                  //_ li(class='dropdown')
                    a(href='#', class='dropdown-toggle', data-toggle='dropdown')
                      i(class='fa fa-hand-o-up fa-lg', aria-hidden='true')|&nbsp; Urval
                    ul.dropdown-menu
                        li
                           a(href='#', id='single-select-button') Enkel
                        li
                           a(href='#') Box
              //-form(class='navbar-form navbar-nav', role='search', method="POST", action="/add")
                  .form-group
                  input(type='text', class='form-control', placeholder='Sök Adress')
                  button(type='submit', class='btn btn-default')
                      i(class='fa fa-search fa-lg', aria-hidden='true')|&nbsp;
              //- ul.nav.navbar-nav.navbar-nav
                  li
                      a(href='#')
                        i(class='fa fa-info-circle fa-lg', aria-hidden='true') &nbsp;Instruktioner