mixin feed
    .panel-heading
        h4.panel-title
            a(data-toggle='collapse', href='#feed')
                i(class='fa fa-rss fa-lg', aria-hidden='true')|&nbsp; Senaste &nbsp;&nbsp;
            span.pull-right.slide-submenu
                i(class='fa fa-arrow-right', aria-hidden='true')
    #feed(class='panel-collapse collapse in')
        .panel-body(style="padding-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 10px;")
            - for (var i = 0; i < 3; i++)
                .media(style="margin: 0px;", id= i+"_media_post")
                    .media-left
                        a(href="#", id= i+"_media_post_")
                            img(, id= i+"_media_post_img", class="media-object", src="images/roadblocks/standard.png", style="width:64px; height: 64px; margin-top: 20px; padding: 0px;")
                    .media-body
                        //h4.media-heading Information
                        table.table(style="font-size:10px; margin-top: -2px;")
                            tr
                                th Latitude
                                td(id= i+"_media_post_lat")
                            tr
                                th Longitude
                                td(id= i+"_media_post_lng")
                            tr
                                th GPS Noggranhet
                                td(id= i+"_media_post_acc")
        #feed_nav
            ul.pager(style="margin-top: 5px; margin-bottom: 5px; padding-left: 5px; padding-right: 5px;")
                li.previous
                    a#rss_previous
                        i.fa.fa-arrow-left(aria-hidden="true")
                li
                    code| Sida
                    code#current_page| 1
                    code| av
                    code#feed_total_page_number| 1
                li.next
                    a#rss_next
                        i.fa.fa-arrow-right(aria-hidden="true")