mixin feed
    .panel-heading
        h4.panel-title
            a(data-toggle='collapse', href='#feed')
                i(class='fa fa-rss fa-lg', aria-hidden='true')|&nbsp; Senast rapport
            span.pull-right.slide-submenu
                i(class='fa fa-arrow-right', aria-hidden='true')
    #feed(class='panel-collapse collapse in')
        .panel-body
            p test